/*=========== UNIVERSAL FOR ALL ELEMENTS */
* {
	/* border: 1px solid red; */
	margin: 0px;
	font-family: "Open Sans", sans-serif;
}

/*=========== VARIABLES */
:root {
	--white: #fff;
	--purple: #444cf7;
	--gray: #e5e5f7;
	--dark: #0b1120;
	--light: #fff;
	--font-small: 10px;
}

.link-active {
	background-color: var(--purple);
	color: var(--white);
	border-radius: 5px;
}

/*=========== Styling HEADER */
header {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 12px;
}

/*=========== Styling Navigation */
#navbar {
	padding: 20px;
}

#navbar a {
	color: #1a202c;
	font-size: medium;
	font-weight: 800;
	text-decoration: none;
	padding: 10px;
	transition: 0.4s;
}

#navbar a:hover {
	background-color: var(--purple);
	color: var(--white);
	border-radius: 5px;
}

/*=========== Styling BANNER */
#banner {
	height: 80vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(#ececf6 0.5px, transparent 0.5px),
		linear-gradient(to right, #ececf6 0.5px, transparent 0.5px);
	background-size: 25px 25px;
	background-color: #ffffff;
}

#banner #hero {
	padding: 10px;
	width: 80%;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#banner #hero img {
	width: 200px;
	height: auto;
}

#banner #hero div {
	width: 45%;
	height: 50%;
	font-size: large;
	padding: 10px;
	text-align: justify;
}

#banner #hero #social-links {
	display: flex;
	justify-content: space-between;
	width: auto;
	flex-wrap: wrap;
}

#banner #hero #social-links a {
	text-decoration: none;
	padding: 5px;
	color: #1a202c;
	font-size: medium;
	font-weight: 800;
}

/*=========== Styling PROJECT */
/*=========== Styling ARTICLE */
/*=========== Styling FOOTER */
